@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

header {
    /*border: 2px solid black; */
    display: flex;
    flex-direction: column; 

}
 .cabeçalho {
    /* border: 2px solid blue; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.20);

    
 }

 .logo {
    /* border: 2px solid red; */
    width: 20%;
    margin-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
 }

.logo img {
    /*  border: 2px solid black; */
    width: 40%;
    
}
.search {
   /* border: 2px solid blue; */
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 .search a  {
     /* border: 2px solid blue; */  
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .search img {
    width: 50%;
 }


 .banner {
    width: 100%;

 }

 .promo {
   /* border: 2px solid black ; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    

    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    box-shadow: 9px 4px 6px 0px rgba(0, 0, 0, 0.137);
    
 }
.promo p {
   /* border: 2px solid black; */
    width: 20%;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
p.promo400 {
   /* border: 2px solid red; */
    width: 25%;
    font-weight: 400;
}

 .products {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
 }

 .products img {
   /* border: 2px solid black; */
    height: 250px;

    
 }

 .products button {
    background-color: #5CA720;
    color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.116);
    width: 100px;
    height: 40px;
    margin-top: 5px;
}

h3 {
    
    /* border: 2px solid black; */
    margin-block: 5px;
}

.products button:hover {
    background-color: #512200BD ;
}


 .products div {
     /* border: 2px solid black; */
    display: inline-block;
 }
span{
    color: #5CA720;
    font-weight: bolder;
    text-decoration: underline;
    
}

figure {
    /* border: 2px solid black; */
    height: 250px;
    background-color: #5CA720;
    display: block; 
    
}

.imgcard{
    background-color: #5CA720;
    
}

.imgcard:hover {

    opacity: 0.5;
}
 
 footer {
    background-color: #F9F9F9;
 }

.data {
    /* border: 2px solid red; */
    padding-top: 50px;
    margin-top: 30px;
    display: flex;
    flex: column;
    justify-content: space-between;
}


.politicas a {
    /* border: 2px solid blue; */
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-left: 70px;
    width: 40vw;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.politicas a:hover {
    text-decoration: underline;
}

.remarketing {
    width: 40vw;
    
}

.remarketing input {
    height: 40px;
}

.remarketing button {
    width: 100px;
    height: 40px;
    background-color: #5CA720;
    color: white;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

.remarketing button:hover {
    background-color: #512200BD ;
}

.remarketing p {
    margin-bottom: 10px;
    
}
.remarketing button {
    margin-top: 10px;
}

input::placeholder {
    padding-left: 5px;
}

.paysection {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex: column;
    justify-content: space-between;
    align-items: center;
}

.socials {
    width: 15vw;
    text-align: center  ;
}

.socials img {
    height: 30px;
}

.payment {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.payment img {
    height: 30px;
}

@media only screen and (max-width: 414px){
    header{
    width: 100%;
    }
    .logo {
       /* border: 2px solid red; */
        height: 30px;

    }
    .logo img {
        width: 100%;
    }
    .search {
       /* border: 2px solid black; */
        width: 30%;
    }
    .search a {
       /* border: 2px solid blue; */
        width: 33%;
    }

    .promo p {
    margin-inline: 20px;
    }

    .products  {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .products div {
        margin-top: 30px;
    }
    .products img {
        height: 250px;
        width: 100%;
    }

    .data {
        display: flex;
        flex-direction: column;
        
    }
    .politicas {
        display: flex;
        justify-content: start;
        align-items: start;
    }
    .remarketing {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 70px;
    }

    .remarketing input {
       /* border: 2px solid black; */
        width: 250px;
    }
    .remarketing button {
        
        border-radius: 5px;
    }

    .paysection {
       /* border: 2px solid blue; */
        width: 97%;
        display: flex;
        justify-content: space-between;
    }

    .socials {
        /* border: 2px solid black; */ 
        display: flex;
        justify-content: space-around;
        width: 15%;
    }

    .socials img {
        display: flex;
        align-items: end;
        height: 20px;
    }
    .payment {
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .payment img{
        /* border: 2px solid red; */
        display: flex;
        
        width: 30px;
        height: 25px;
    }

}

@media only screen and (min-width:415px) and (max-width:910px) {

    header{
        width: 100%;
        }
        .logo {
           /* border: 2px solid red; */
            height: 30px;
    
        }
        .logo img {
            width: 100%;
        }
        .search {
           /* border: 2px solid black; */
            width: 30%;
        }

        .promo p {
            margin-left: 15px;
        }

        .products  {
            display: flex;
           /* flex-direction: column; */
           /* align-items: center; */
            justify-content: space-evenly;
        }

        .products div {
            margin-top: 30px;
            margin-inline: 10px;
            
        }
        .products img {
            height: 150px;
            width: 100%;
        }

        .products button {
            width: 75%;
        }
        
        figure {
            /* border: 2px solid black; */
            height: 150px;
            width: 100%;
            background-color: #5CA720;
            display: block; 
            
        }
        .imgcard{
            background-color: #5CA720;
            
        }

        .data {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 50px;
            
        }

        .politicas {
            display: flex;
            justify-content: start;
            align-items: start;
        }
        .remarketing {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 70px;
        }

        .remarketing button {
            border-radius: 5px;
        }

        .paysection {
            /* border: 2px solid blue; */  
             width: 90%;
             display: flex;
             justify-content: space-between;
         }

         .socials {
            display: flex;
            margin-inline: 10px;
            width: 20%;
         }
         .socials img {
            margin-inline: 5px;
            height: 30px;
         }

         .payment {
            /* border: 2px solid black; */ 
            margin-left: 20px;
            width: 25%;
         }
        .payment img {
            
            margin-inline: 5px;
            margin-left: 15px;
        }
}





