@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /*border: 2px solid black; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    

}
 .cabeçalho {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    
 }

 .banner {
    width: 100%;

 }

 .promo {
    /* border: 2px solid black */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin-left: 70px;
 }

 .products {
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
 }
 section div {
    border: 2px solid black;
    display: inline-block;
 }
 


